/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/SLXGc1nY6HkvalIvTpu0xg.woff2) format('woff2');
  }
  /* latin */
  @font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
  }
