.progress-section .ctm-progress-bar {
    position: relative;
    width: 220px;
    height: 70px;
    border-radius: 8px;
    z-index: 0;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px var(--shadow-color),-2px -2px 4px var(--shadow-color);
    cursor: pointer;
}

.progress-section .ctm-progress-bar::after {
    content: attr(count);
    position: absolute;
    right: 0;
    bottom: -27px;
    height: 25px;
    width: 100%;
    background-color: inherit;
    box-shadow: inherit;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-section .ctm-progress-bar .btn-add {
    position: absolute;
    font-weight: bold;
    left: -10px;
    bottom: -10px;
    background-color: inherit;
    box-shadow: 1px 1px 4px #ddd,-1px -1px 4px #ddd;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    text-decoration: none;
    color: #000;
    vertical-align: center;
}