@import url(cairo_font.css);

:root {
    /* --main-color: #34495e; */
    --main-color: rgb(99 102 241);
    --hover-color: #4f46e5;
    --border-color: #4f46e5;
    --box-shadow: 0 5px 20px rgba(173, 181, 189, .2);
    --secondary-color: #6c757d;
    --shadow-color: #ccc;
    --btn-color: #abd8ff;
    --btn-shadow-color: #76bbf7;
    --btn-hover-color: var(--btn-shadow-color);
}

* {
    font-family: Cairo, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    background-color: transparent;
}

body {
    direction: rtl;
    user-select: none;
    background-color: #eff3f7;
}

a,
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.shadow {
    box-shadow: var(--box-shadow);
}

.bg-indigo {
    background-color: rgb(150, 151, 231);
    color: #fff;

}

.content {
    --sidebar-width: 255px;
    width: calc(100% - var(--sidebar-width));
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    overflow-y: scroll;
    transition: width .5s;

}

.ctm-form {
    padding: 20px;
    max-width: 33rem;
    margin: auto;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    margin-top: 80px;
    border-radius: 10px;
    max-height: 700px;
    overflow-y: scroll;

}

.ctm-form label {
    display: block;
}

.ctm-form input.border-red-600::placeholder {
    color: red;
}

.ctm-btn {
    background-color: var(--main-color) !important;
    color: #fff !important;
    outline: none;
    min-width: 100px;
    font-size: 18px;
}

.ctm-btn:hover {
    color: #fff !important;
    background-color: var(--hover-color);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--border-color);
    outline: 0;
    box-shadow: none
}

.nav-link {
    color: #000;
}

.items-section .item {
    width: 150px
}

.table-indigo {
    --bs-table-bg: var(--main-color) !important;
    color: #fff;
    --bs-table-striped-color: #fff;
    --bs-table-active-color: #fff;
    --bs-table-hover-color: #fff;
    --bs-table-striped-bg: #d7d8da;
    --bs-table-active-bg: #cbccce;
    --bs-table-hover-bg: #d1d2d4;
    border-color: #cbccce;
}
.table-indigo tr th{
    padding: 10px 0;
}
.svg-light{
    fill:#fff
}