@import url(cairo_font.css);

:root {
    /* --main-color: #34495e; */
    --main-color: #ebecee;
    --secondary-color: #6c757d;
    --hover-color: #3b3c3d;
    --shadow-color: #ccc;
    --btn-color: #abd8ff;
    --btn-shadow-color: #76bbf7;
    --btn-hover-color: var(--btn-shadow-color);
}

* {
    font-family: Cairo, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    background-color: transparent;
}

body {
    direction: rtl;
    user-select: none;
    background-color: #eff3f7;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.ctm-form .border-red-600::placeholder{
    color: red;
}