@import url(cairo_font.css);

:root {
    /* --main-color: #34495e; */
    --main-color: #ebecee;
    --secondary-color: #6c757d;
    --hover-color: #3b3c3d;
    --shadow-color: #ccc;
    --btn-color: #abd8ff;
    --btn-shadow-color: #76bbf7;
    --btn-hover-color: var(--btn-shadow-color);
}

* {
    font-family: Cairo, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    background-color: transparent;
}

body {
    direction: rtl;
    user-select: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.table {
    max-width: 850px;
    min-width: 850px;
}
.table tr {
    cursor: pointer;
}
.d-flex {
    flex-wrap: wrap;
}

.content {
    position: absolute;
    overflow: hidden;
    top: 70px;
    left: 0;
    width: calc(100% - 260px);
    padding: 12px;
}
@media (max-width: 640px) {
    .content {
        width: 100%;
    }
}
.create-btn {
    position: fixed;
    top: 0;
    margin: 90px 40px 0;
}
.custom-form {
    max-width: 400px;
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ddd;
}

.ctm-btn {
    background-color: var(--secondary-color);
    min-width: 100px;
    color: #fff;
    cursor: pointer;
}

.ctm-btn:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.ctm-alert {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: fit-content;
    z-index: 1500;
}

.h-100vh {
    height: 100vh;
}

.bg-dark {
    background-color: var(--main-color) !important;
}

.bg-primary {
    background-color: #3498db;
}

.bg-dark,
.bg-primary {
    color: #fff;
}

.bg-dark:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.modal-btn {
    background-color: transparent;
    border: none;
}

.card {
    position: relative;
}

.card .links {
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.card.book {
    border-radius: 15px;
    width: 14rem;
    overflow: hidden;
    background-color: #fff;
}

.card-title {
    white-space: nowrap;
    height: 20px;
}
.card-img{
    height: 150px;
    border-radius: 20px;
}
.card.book .book-img,
.card.category .category-img {
    position: relative;
    border-bottom-left-radius: 15px;
    background-color: var(--main-color) !important;
}

.card.category .category-img {
    padding: 5px;
    width: 50px;
}

.card.book .book-img:after,
.card.category .category-img:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    background-color: var(--main-color);
    height: 20px;
    width: 20px;
}

.card .edit-category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.card .card-body {
    border-top-right-radius: 20px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.card.book .card-body .card-text {
    overflow-y: hidden;
    /* text-align: center; */
}

.sub-cats {
    display: none;
}

.empty-box {
    margin-top: 50px;
    width: 250px;
}

.empty-box img {
    width: 100%;
}

.dropdown-menu {
    width: max-content;
}

.dropdown-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination .page-item.active .page-link {
    background-color: #000;
    border-color: #000;
    font-weight: bold;
    color: #fff;
}
.pagination .page-item .page-link {
    color: #000;
}
.date-filter{
    width: fit-content;
}
@media print {
    @page {
        margin: 0;
        padding: 16px;
    }
    .sidebar,
    .navbar {
        display: none !important;
    }
    .content {
        top: 0;
        width: 100%;
    }
    .nav.nav-tabs {
        display: none;
    }
    .table{
        min-width:unset;
    }
    .date-filter{
        display: none !important;
    }
}
